# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Crutch files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Build results
**/Binaries/
Binaries-Int/