[submodule "Crutch/vendor/spdlog"]
	path = Crutch/vendor/spdlog
	url = https://github.com/gabime/spdlog

[submodule "Crutch/vendor/GLFW"]
	path = Crutch/vendor/GLFW
	url = https://github.com/OyvindAndersson/glfw
	branch = 3.3-stable
[submodule "Crutch/vendor/glm"]
	path = Crutch/vendor/glm
	url = https://github.com/g-truc/glm.git
	branch = master
